.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 4rem 0 8rem 0;
}

.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  width: 3rem;
  height: 3rem;
  border-radius: 50%;

  text-decoration: none;
}
.pagination a:hover {
  color: #fff;
  transition-duration: 0.5s;
  background-color: #ffe498;
}

.active {
  background-color: var(--goyoursYellow);

  color: #fff;
  transition-duration: 0.5s;
}

@media screen and (min-width: 1201px) {
}
@media (min-width: 1025px) and (max-width: 1200px) {
}
@media (min-width: 481px) and (max-width: 1024px) {
  .pagination a {
    font-size: 0.75rem;

    width: 2rem;
    height: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .pagination {
    padding: 1rem 0 3rem 0;
  }
  .pagination a {
    font-size: 0.75rem;

    width: 1.8rem;
    height: 1.8rem;
  }
}
