.aboutTop,
.goyoursIntro {
  width: 100%;
  height: 100vh;
}
.aboutTop {
  position: relative;
}
.aboutTop img {
  position: absolute;
  /* animation: fade-in-out 5s ease-in-out; */
}

/*all img setting */

.aboutusTopImg,
.aboutusTopImg img {
  border-radius: 0.3rem;
}

.aboutusTopImg:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 15rem;
  height: 15rem;

  overflow: hidden;

  animation: fade-in 1.5s ease-in;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(1) img {
  height: 100%;
  object-fit: contain;
  opacity: 0;

  left: -25%;
  animation: fade-in 1.5s ease-in;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(2) {
  position: absolute;
  top: 40%;
  left: 9%;
  width: 17rem;
  height: 20rem;

  overflow: hidden;

  animation: fade-in 1.5s ease-in;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(2) img {
  height: 100%;
  object-fit: contain;

  opacity: 0;

  left: -50%;
  animation: fade-in 1.5s ease-in;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(3) {
  position: absolute;
  bottom: -40%;
  left: 0;
  width: 21rem;
  height: 24rem;

  overflow: hidden;

  opacity: 0;

  animation: fade-in 1.5s ease-in;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(3) img {
  height: 100%;
  object-fit: contain;

  left: -40%;
  animation: fade-in 1.5s ease-in;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(4) {
  position: absolute;
  top: 14%;
  left: 28%;
  width: 11rem;
  height: 9rem;

  overflow: hidden;

  opacity: 0;

  animation: fade-in 1.5s ease-in;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(4) img {
  height: 100%;
  object-fit: cover;

  left: -20%;
  animation: fade-in 1.5s ease-in;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(5) {
  position: absolute;
  top: 0;
  left: 45%;
  width: 17rem;
  height: 14rem;

  overflow: hidden;

  display: flex;
  justify-content: center;

  animation: fade-in 1.5s ease-in;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(5) img {
  height: 100%;
  object-fit: cover;

  opacity: 0;
  animation: fade-in 1.5s ease-in;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(6) {
  position: absolute;
  top: 20%;
  right: 20%;
  width: 9rem;
  height: 8rem;

  overflow: hidden;

  animation: fade-in 1.5s ease-in;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(6) img {
  height: 100%;
  object-fit: cover;

  left: -25%;

  opacity: 0;
  animation: fade-in 1.5s ease-in;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(7) {
  position: absolute;
  bottom: 20%;
  right: 27%;
  width: 8.5rem;
  height: 11rem;

  overflow: hidden;

  animation: fade-in 1.5s ease-in;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(7) img {
  height: 100%;
  object-fit: cover;

  left: -50%;

  opacity: 0;
  animation: fade-in 1.5s ease-in;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(8) {
  position: absolute;
  top: 0;
  right: 0;
  width: 11rem;
  height: 16rem;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 1.5s ease-in;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(8) img {
  height: 100%;
  object-fit: cover;

  left: -12%;

  opacity: 0;
  animation: fade-in 1.5s ease-in;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(9) {
  position: absolute;
  bottom: 26%;
  right: 0;
  width: 18rem;
  height: 14rem;

  overflow: hidden;

  animation: fade-in 1.5s ease-in;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(9) img {
  height: 100%;
  object-fit: cover;

  opacity: 0;

  left: -10%;
  animation: fade-in 1.5s ease-in;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(10) {
  position: absolute;
  bottom: -10%;
  right: 2%;
  width: 8rem;
  height: 8rem;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: fade-in 1.5s ease-in;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.aboutusTopImg:nth-of-type(10) img {
  height: 100%;
  object-fit: cover;

  opacity: 0;
  animation: fade-in 1.5s ease-in;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

/*all img setting */

.centerLogo {
  position: absolute;
  opacity: 1 !important;

  z-index: 2;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 20%;
}

.goyoursIntro {
  background-image: url(/Japan.png);
  background-repeat: no-repeat;
  background-position: 90% 80%;

  position: relative;
  z-index: 1;
}
.goyoursIntro h2 {
  display: flex;
  flex-direction: column;

  text-align: center;
}
.goyoursIntro h1 {
  font-size: 1rem;
  margin: 0;

  text-align: center;

  padding-top: 1rem;
}

.goyoursIntro h2::after {
  content: '';
  width: 4rem;
  margin: 0 auto;

  padding-top: 2rem;
  border-bottom: 0.6rem solid var(--goyoursYellow);
}

.goyoursIntro p {
  width: 60%;
  text-align: center;
  font-weight: bold;

  color: var(--goyoursBlack);
  line-height: 3rem;

  margin: 0 auto;
  padding-top: 1rem;
}
.goyoursIntro p > span,
.goyoursIntro h1 > span {
  background-color: var(--goyoursYellow);
  color: #fff;
  font-weight: bold;
  padding: 0.1rem;
  margin: 0.1rem;

  border-radius: 0.2rem;
}

.goyoursservice {
  width: 70vw;
  height: 70vh;
  margin: 0 auto;
  position: relative;

  z-index: 1;

  padding-top: 12rem;
}
.goyoursserviceWrapper {
  position: relative;
}
.goyoursserviceWrapper::before {
  content: '';
  position: absolute;
  top: 32%;
  left: 0;
  width: 100vw;
  height: 80vw;
  background-color: #fff;
  clip-path: ellipse(90% 100% at 50% 100%);
}
.goyoursserviceWrapper::after {
  content: url(/goyoursBear-bg-white.svg);
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 40%;

  z-index: 0;
}
.goyoursservice h2 {
  position: relative;
  display: flex;
  flex-direction: column;

  width: fit-content;
}

.serviceArea {
  /* display: grid; */
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: 0.8fr 1fr; */

  gap: 24%;
}
.serviceArea p {
  line-height: 3rem;

  width: 100%;

  font-weight: 400;
  margin-top: 4rem;

  color: var(--goyoursBlack);
}

.circleMenu {
  position: relative;

  width: 100%;
  height: 100%;

  margin: auto;

  border-radius: 50%;

  transform: rotate(-45deg);
}
.circleMenuLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10rem; /* 根據你的 logo 尺寸調整 */
  height: 10rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;

  user-select: none;
}
.circleMenuLogo img {
  width: 60%;

  transform: rotate(45deg);
}
.serviceBgCircle {
  background-image: url(/service-content-bg.svg);
  background-repeat: no-repeat;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) rotate(45deg);

  width: 35rem;
  height: 35rem;
}

.serviceCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  transform: translate(-50%, -50%) rotate(calc(60deg * var(--i)))
    translate(175px) rotate(calc(-60deg * var(--i))) scale(0);

  text-align: center;
  width: 8.75rem; /* 每個項目的大小 */
  height: 8.75rem;
  background-color: #ffc67f; /* 背景顏色 */
  border-radius: 50%;

  color: #fff;

  z-index: 1;

  border: 2px solid #fff;

  user-select: none;
}
.serviceCircleAnimation {
  transform-origin: center;
  animation: scaleService 1s ease forwards;
  animation-delay: calc(0.5s * var(--i));
}

.serviceCircle:nth-child(even) {
  background-color: var(--goyoursBlack);
}
.serviceCircle:nth-child(odd) {
  background-color: var(--goyoursYellow);
}

.serviceContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: rotate(45deg);
}
.serviceIcon {
  width: 2rem;
}
.serviceTxt {
  font-weight: bold;

  font-size: 0.8rem;
}
.serviceIcon {
  font-size: 2rem;
}

.serviceCircle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ifYou {
  position: relative;
  z-index: 1;
  width: 70vw;
  margin: 0 auto;
  padding-top: 8rem;
}
.ifYou h2 {
  display: flex;
  flex-direction: column;
}
.progress-section {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;

  padding-top: 2rem;
}

.progress-bar-area {
  display: flex;
}
.progress-txt {
  display: flex;
  justify-content: space-between;

  position: relative;
}
.progress-txt p {
  margin-bottom: 0.5rem;
}

.progress-bar-container {
  flex: 1;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  /* overflow: hidden; */
}

.progress-bar {
  position: relative;
  width: 0;
  height: 100%;
  background-color: var(--goyoursYellow);
  border-radius: 5px;
  transition: width 2s ease;
}
.progress-bar::after {
  content: '';
  background-image: url('/goyoursbear-Y.svg');
  background-size: cover;
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 0;
  bottom: 60%;
}

.progress-number {
  font-weight: bold;

  transition: color 0.5s ease, font-size 0.5s ease;
}
.progress-number:nth-child(2) {
  position: absolute;

  right: 0;
}

.aboutContactArea {
  width: 90vw;

  margin: 0 auto;

  padding: 8rem 0;
}
.reviewTitle {
  width: 80vw;
  margin: 0 auto;
}
.Review {
  padding-top: 20rem;

  position: relative;
}
.Review::before {
  content: '';
  position: absolute;
  top: 10%;
  left: 0;

  width: 100vw;
  height: 80vw;
  background-color: var(--goyoursBgColor);
  clip-path: ellipse(90% 100% at 50% 100%);
}
.Review h2 {
  position: relative;

  width: fit-content;

  display: flex;
  flex-direction: column;
}

.feedBackArea {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 設定三欄佈局 */
  justify-items: center;

  width: 80vw;
  max-width: 1215px;

  margin: 0 auto;

  row-gap: 6rem;

  padding-top: 5rem;
}

.feedbackList {
  position: relative;

  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 12rem;

  padding: 0.5rem 1rem 1rem 1rem;

  border-radius: 1rem;

  box-sizing: border-box;
}
.feedbackList:nth-child(even) {
  background-color: var(--goyoursYellow);
}
.feedbackList:nth-child(even)::after {
  position: absolute;
  content: url(/goyoursbear-Y.svg);
  width: 2.3rem;
  height: 2.3rem;
  right: 6%;
  top: -18%;
}
.feedbackList:nth-child(odd) {
  background-color: var(--goyoursBlack);
}
.feedbackList:nth-child(odd)::after {
  position: absolute;
  content: url(/goyoursbear-B.svg);
  width: 2.3rem;
  height: 2.3rem;
  right: 6%;
  top: -18%;
}

.feedbackList:nth-child(even) .feedbackInfo p {
  color: #fff;
}
.feedbackList:nth-child(odd) .feedbackInfo p {
  color: var(--goyoursYellow);
}
.feedbackInfo {
  font-weight: bold;
}
.feedbackInfo p {
  margin: 0.5rem;
}

.feedbackTxt {
  width: 100%;
  height: 100%;
  background-color: var(--goyoursBgColor);

  border-radius: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.feedbackTxt p {
  padding: 0.2rem;

  line-height: 1.5rem;
  font-size: 0.87rem;
  font-weight: bold;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*ANIMATION*/
/* @keyframes scrollDownArrowDot {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(0, 0);
  }
} */

/* @keyframes scrollDownArrowLine {
  0% {
    height: 0;
    opacity: 1;
  }

  100% {
    height: 200px;
    opacity: 0;
  }
} */

.aboutPage-scrollDown {
  position: absolute;
  bottom: 8%;
  left: 52%;
}
.scrollDown-side-Text {
  font-size: 1rem;
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    box-shadow: none;
  }
  100% {
    opacity: 1;
    box-shadow: 0.4rem 0.4rem #ffe2bc;
  }
}

@keyframes scaleService {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(calc(60deg * var(--i)))
      translate(175px) rotate(calc(-60deg * var(--i))) scale(0);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(calc(60deg * var(--i)))
      translate(175px) rotate(calc(-60deg * var(--i))) scale(1);
  }
}

.goyoursbear {
  width: 5%;
  margin: 0 auto;
}

.goyoursbear-line {
  fill: none;
  stroke: var(--goyoursYellow);
  stroke-miterlimit: 10;
  stroke-width: 15px;
}

.progress-number.completed {
  /* font-size: 1.5rem; */
  color: transparent;
  font-weight: bold;

  /* z-index: 99; */

  transition-delay: -0.5s;

  animation: bounceOut 0.3s ease forwards;
}
.completed::after {
  content: url(/100.png);
  /* animation: bounceOut 0.3s ease forwards;
  transition-delay: 0.1s; */
  width: 100%;
  height: 100%;
  position: absolute;
  right: 100%;
  bottom: 100%;
}

/* 彈跳動畫 */
@keyframes bounceOut {
  0% {
    transform: scale(1) translateY(0) translateX(1rem);
  }
  100% {
    transform: scale(1) translateY(0) translateX(6rem) rotate(10deg);
  }
}

@media screen and (min-width: 1201px) {
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .aboutusTopImg:nth-of-type(3) {
    width: 16rem;
    height: 19rem;
    bottom: -30%;
  }
  .aboutusTopImg:nth-of-type(6) {
    width: 7rem;
    height: 6rem;
  }
  .goyoursservice {
    width: 80vw;
  }
  .goyoursserviceWrapper::after {
    bottom: 40%;
  }
  .Review {
    padding-top: 16rem;
  }
  .reviewTitle {
    width: 80vw;
  }
  .feedBackArea {
    width: 90vw;
  }
  .feedbackList {
    width: 18rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .goyoursservice h2 {
    font-size: 1.5rem;
  }
  .Review h2 {
    font-size: 1.5rem;
  }
  .ifYou h2 {
    font-size: 1.5rem;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .feedbackList {
    width: 22rem;
    height: 14rem;
  }
  .aboutPage-scrollDown {
    position: unset;
  }
  .centerLogo {
    width: 19rem;

    top: 40%;
  }
  .aboutusTopImg:nth-of-type(1) {
    top: 36.99px;

    width: 16rem;
    height: 16rem;
  }
  .aboutusTopImg:nth-of-type(2) {
    width: 11rem;
    height: 14rem;

    top: 56%;
    left: 20%;
  }
  .aboutusTopImg:nth-of-type(3) {
    width: 19rem;
    height: 21rem;

    top: 80%;
    left: 0;
  }
  .aboutusTopImg:nth-of-type(3) img {
    left: -40%;
  }
  .aboutusTopImg:nth-of-type(4) {
    right: 8%;

    left: unset;
    top: 50%;

    width: 11rem;
    height: 8rem;
  }
  .aboutusTopImg:nth-of-type(4) img {
    left: -10%;
  }
  .aboutusTopImg:nth-of-type(5) {
    left: unset;
    right: 2%;
    top: 8%;

    width: 17rem;
    height: 17rem;
  }
  .aboutusTopImg:nth-of-type(6) {
    display: none;
  }
  .aboutusTopImg:nth-of-type(7) {
    width: 9rem;
    height: 12rem;

    top: 32%;
    left: 2%;
  }
  .aboutusTopImg:nth-of-type(7) img {
    left: -60%;
  }
  .aboutusTopImg:nth-of-type(8) {
    display: none;
  }
  .aboutusTopImg:nth-of-type(9) {
    bottom: 10%;
    right: 6%;
  }
  .aboutusTopImg:nth-of-type(10) {
    bottom: unset;
    top: 36%;
    right: 0;
  }
  .scrollDown-side {
    left: 54%;
    right: unset;
    bottom: unset;
    top: 50%;
  }

  .goyoursIntro {
    padding-top: 10rem;

    background-position: 90% 80%;
    background-size: 54%;

    height: 66vh;
  }
  .goyoursIntro p {
    width: 60%;
  }

  .goyoursservice {
    width: 90vw;
    height: 60vh;
  }
  .goyoursserviceWrapper::after {
    bottom: 50%;
    width: 44%;
  }
  .serviceArea {
    justify-content: space-between;
    gap: 0;
  }
  .serviceArea p {
    font-size: 0.75rem;
    line-height: 2.5rem;
  }
  .circleMenuLogo {
    width: 7rem;
    height: 7rem;
  }
  .serviceCircle {
    width: 6rem;
    height: 6rem;

    transform: translate(-50%, -50%) rotate(calc(60deg * var(--i)))
      translate(130px) rotate(calc(-60deg * var(--i))) scale(0);
  }
  @keyframes scaleService {
    from {
      opacity: 0;
      transform: translate(-50%, -50%) rotate(calc(60deg * var(--i)))
        translate(130px) rotate(calc(-60deg * var(--i))) scale(0);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) rotate(calc(60deg * var(--i)))
        translate(130px) rotate(calc(-60deg * var(--i))) scale(1);
    }
  }
  .serviceBgCircle {
    width: 26rem;
    height: 26rem;
  }
  .Review {
    padding-top: 0;
  }
  .Review::before {
    top: -16%;
  }
  .reviewTitle {
    width: 90vw;
  }
  .feedBackArea {
    width: 90vw;
    grid-template-columns: 1fr 1fr;

    row-gap: 4rem;
    column-gap: 2rem;

    box-sizing: border-box;
  }

  .ifYou {
    width: 90vw;
  }
  .progress-bar-container {
    height: 8px;
  }

  @keyframes bounceOut {
    0% {
      transform: scale(1) translateY(0) translateX(5%);
      animation-timing-function: ease-out;
    }
    20% {
      transform: scale(0.9) translateY(-50%) translateX(10%);
      animation-timing-function: ease-in;
    }
    40% {
      transform: scale(0.8) translateY(-100%) translateX(12%);
      animation-timing-function: ease-in-out;
    }
    60% {
      transform: scale(0.7) translateY(-150%) translateX(14%);
      animation-timing-function: ease-in-out;
    }
    80% {
      transform: scale(0.6) translateY(-200%) translateX(18%);
      animation-timing-function: ease-out;
    }
    100% {
      transform: scale(0.7) translateY(-180%) translateX(20%);
    }
  }

  .aboutContactArea {
    padding: 8rem 0 4rem 0;
  }
}
@media screen and (max-width: 500px) {
  .scrollDown-side {
    bottom: 10%;
  }
  .aboutPage-scrollDown {
    position: unset;
  }
  .aboutusTopImg:nth-of-type(2),
  .aboutusTopImg:nth-of-type(4),
  .aboutusTopImg:nth-of-type(5),
  .aboutusTopImg:nth-of-type(6),
  .aboutusTopImg:nth-of-type(7),
  .aboutusTopImg:nth-of-type(8),
  .aboutusTopImg:nth-of-type(10) {
    display: none;
  }
  .centerLogo {
    width: 60%;
  }
  .aboutusTopImg:nth-of-type(1) {
    top: 68.5px;

    width: 13.5rem;
    height: 13.5rem;
  }
  .aboutusTopImg:nth-of-type(3) {
    bottom: 4%;
    width: 15rem;
    height: 17rem;

    animation-delay: 0.5s;
  }
  .aboutusTopImg:nth-of-type(3) img {
    animation-delay: 0.5s;
  }

  .aboutusTopImg:nth-of-type(9) {
    top: 42%;
    bottom: unset;
    right: -20%;
    width: 12rem;
    height: 8rem;

    animation-delay: 0.8s;
  }
  .aboutusTopImg:nth-of-type(9) img {
    animation-delay: 0.8s;
  }
  .aboutScroolDown {
    right: 0;
    bottom: 0;
  }
  .goyoursbear {
    width: 10%;
  }
  .goyoursbear svg path {
    stroke-width: 15 !important;
  }
  .goyoursIntro {
    background-size: 100%;
    background-position: 0 50%;
    height: 100%;
    padding-bottom: 4rem;
  }
  .goyoursIntro h2 {
    font-size: 1rem;
  }
  .goyoursIntro h2::after {
    width: 2rem;
    border-bottom: 0.3rem solid var(--goyoursYellow);
    padding-top: 1rem;
  }
  .goyoursIntro p {
    font-size: 0.75rem;
    width: 92%;
    line-height: 2.5rem;
    letter-spacing: normal;
  }
  .goyoursIntro h1 {
    font-size: 0.75rem;
  }

  .goyoursserviceWrapper {
    height: 100%;

    /* padding-bottom: 6rem; */
  }
  .goyoursserviceWrapper::before {
    top: 50%;
    height: 100vh;
    clip-path: ellipse(150% 100% at 50% 100%);
  }
  .goyoursserviceWrapper::after {
    bottom: 36%;
    left: unset;
    right: -48%;
    width: 100%;
  }
  .goyoursservice h2 {
    font-size: 1rem;
  }
  .goyoursservice {
    width: 80vw;

    padding-top: 5rem;
  }
  .serviceArea {
    flex-direction: column;
    gap: 12rem;
  }
  .serviceArea p {
    font-size: 0.75rem;
    line-height: 2rem;

    margin-top: 3rem;
  }
  .serviceBgCircle {
    width: 20rem;
    height: 20rem;
  }
  .circleMenuLogo {
    width: 5rem;
    height: 5rem;
  }
  .serviceCircle {
    width: 5rem;
    height: 5rem;
    transform: translate(-50%, -50%) rotate(calc(60deg * var(--i)))
      translate(100px) rotate(calc(-60deg * var(--i))) scale(0);
  }
  @keyframes scaleService {
    from {
      opacity: 0;
      transform: translate(-50%, -50%) rotate(calc(60deg * var(--i)))
        translate(100px) rotate(calc(-60deg * var(--i))) scale(0);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) rotate(calc(60deg * var(--i)))
        translate(100px) rotate(calc(-60deg * var(--i))) scale(1);
    }
  }
  .serviceContent img {
    width: 1rem;
    height: 1rem;
  }
  .serviceTxt {
    font-size: 0.7rem;
  }
  .serviceContent {
    gap: 0.2rem;
  }
  .Review {
    padding-top: 20rem;
  }
  .Review h2 {
    font-size: 1rem;
  }
  .Review::before {
    top: 30%;
  }
  .feedBackArea {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .feedbackList {
    width: 100%;
  }
  .feedbackList:nth-child(4),
  .feedbackList:nth-child(5),
  .feedbackList:nth-child(6) {
    display: none;
  }
  .feedbackList:nth-child(odd)::after,
  .feedbackList:nth-child(even)::after {
    display: none;
  }
  .feedbackTxt p {
    font-size: 0.75rem;
  }
  .feedbackInfo p {
    position: relative;
    width: fit-content;
    font-size: 0.75rem;
  }
  .feedbackList:nth-child(even) .feedbackInfo p::after {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(150%);
    content: '';
    width: 1rem;
    height: 100%;
    background-image: url(/goyoursbear-icon-w.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .feedbackList:nth-child(odd) .feedbackInfo p::after {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(150%);
    content: '';
    width: 1rem;
    height: 100%;
    background-image: url(/goyoursbear-Y.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .ifYou h2 {
    font-size: 1rem;
  }
  .ifYou {
    width: 80vw;
    padding: 6rem 0 2rem 0;
  }
  .progress-txt p {
    font-size: 0.75rem;
  }
  .progress-bar-container {
    height: 5px;
  }
  .aboutContactArea {
    padding: 4rem 0;
  }

  @keyframes bounceOut {
    0% {
      transform: scale(1) translateY(0) translateX(10%);
      animation-timing-function: ease-out;
    }
    20% {
      transform: scale(0.9) translateY(-50%) translateX(50%);
      animation-timing-function: ease-in;
    }
    40% {
      transform: scale(0.8) translateY(-100%) translateX(55%);
      animation-timing-function: ease-in-out;
    }
    60% {
      transform: scale(0.7) translateY(-150%) translateX(60%);
      animation-timing-function: ease-in-out;
    }
    80% {
      transform: scale(0.6) translateY(-200%) translateX(65%);
      animation-timing-function: ease-out;
    }
    100% {
      transform: scale(0.5) translateY(-250%) translateX(70%);
    }
  }
}
